.swiper-main__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.publications__big-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(108, 215, 253);
    font-weight: bold;
    font-size: 40px;
    margin-right: auto;
    margin-left: auto;
}

.myswiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.myswiperslide {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    background-color: rgb(246,248,250);
    width: 100%;
    height: max-content;
    margin-bottom: 20px;
}

.swiper-img__container {
    width: 50%;
    aspect-ratio: 1.33 / 1;
    object-fit: cover;
    display: block;
}

.swiper-img__container img {
    width: 100%;
    aspect-ratio: 1.33 / 1;
    object-fit: cover;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
}

.swiper-content__container {
    display: flex;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 1.33 / 1;
    // max-height: 300px;
    // height: calc(50%); 
    padding: 20px;
    position: relative;
}

.swiper-card__title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    overflow: hidden;
    min-height: 30px;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.description__text {
    white-space: normal;
    overflow-wrap: break-word;
    padding: 0;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1; 
    height: 40%;
    // height: 100px;
    width: 100%;
}

.description__text p {
    margin-bottom: 0;
}

.myswiper .swiper-pagination-bullet {
    width: 50px;
    height: 27px;
    border-radius: 0px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    border-top-width: 10px;
    border-bottom-width: 10px;
    border-color: white;
    border-style: solid;
}

.myswiper .swiper-pagination-bullet-active {
    background: rgb(231, 46, 150);
}

.swiper-button {
    /* flex-shrink: 0; */
    padding-top: 15px;
    /* background-color: rgb(108,215,253); */
    /* width: 340px;
    height: 60px; */
    display: table-row;
    bottom: 15px;
    left: 15px;
    /* position: absolute; */
}

.learn__more {
    /* bottom: 0;
    left: 0;
    position: absolute; */
    background-color: rgb(231, 46, 150);
    color: white;
    padding: 10px;
    /* bottom: 20px;
    left: 10px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: rgb(231, 46, 150);
    border-width: thin;
    font-size: 0.9em;
    text-decoration: none;
    border-style: solid;
}

a.learn__more {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

a.learn__more:hover {
    color: rgb(231, 46, 150);
    background-color: white;
    text-decoration: none;
}

.see__list {
    background-color: grey;
    color: white;
    padding: 10px;
    bottom: 30px;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: grey;
    border-width: thin;
    font-size: 0.9em;
    text-decoration: none;
    border-style: solid;
}

a.see__list {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

a.see__list:hover {
    color: grey;
    background-color: white;
    text-decoration: none;
}

@media screen and (max-width: 900px) {
    * {
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .swiper-main__container {
        width: 100%;
        height: fit-content;
    }

    .swiper-img__container {
        width: 100%;
        height: 50%;
    }

    .swiper-img__container img {
        width: 100%;
        max-width: 900px;
        height: 100%;
        display: block;
        margin-right: 0;
    }

    .swiper-content__container {
        width: 100%;
        height: calc(100vw / 1.33);
    }

    .description__text {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .swiper-button {
        position: relative;
        left: 0;
        bottom: 0;
    }

    .myswiper {
        width: 100%;
        max-width: 900px;
        height: fit-content;
    }

    .myswiperslide {
        width: 100%;
        max-width: 900px;
        border-width: 0px;
        border-color: none;
        flex-direction: column;
        grid-template-columns: 1fr;
    }

    .swiper__card {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        height: max-content;
        margin-bottom: 50px;
    }
}